* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared style  */

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}
.btn--primary {
  background-color: #ff900e;
  color: #ffffff;
}

.u-text-primary {
  color: #131313;
}
.u-text-secondary {
  color: #424242;
}
.u-text-muted {
  color: #727272;
}
.u-text-danger {
  color: #FF900E;
}

/* main style  */

.header {
}

.header--primary {
  background-color: rgba(255, 144, 14, 0.1);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 120px;
}
.nav__brand {
  font-size: 2.8rem;
  font-weight: 700;
}
.nav__list {
  list-style: none;
  display: flex;
  gap: 40px;
}
.nav__item {
}
.nav__link {
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
}

.header__banner {
  padding-bottom: 45px;
}

.banner__content {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner__title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 32px;
}
.banner__text {
  line-height: 26px;
  margin-bottom: 32px;
}
.banner_img {
  width: 100%;
  border: none;
  border-radius: 8px;
}

main > section {
  padding-top: 130px;
}

.team {
  display: flex; 
  align-items: center;
  gap: 73px;
}
.team__figure {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 708px;
  padding-left: 30px;
}
.team__content {
  max-width: 537px;
  
}
#quick {
  font-size: 2.8rem;
  font-weight: 500;
}
#our {
  font-size: 2.8rem;
  font-weight: 700;
}
#feat {
  font-size: 2.8rem;
  font-weight: 700;
}
.team__title {
  margin-bottom: 32px;
}
.team__text {
  margin-bottom: 32px;
  line-height: 26px;
}


























/* media query for mobile devices  */
@media screen and (max-width: 576px) {
  .header__nav {
    gap: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }
  .nav__brand {
    font-size: 1.8rem;
  }
  .banner__title {
    font-size: 2rem;
  }
  .btn {
    padding: 7px 23px;
    font-size: 1rem;
  }
  .banner_img {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
